@media only screen and (max-width: 600px) {
    #header {
        height: auto;
        padding: 80% 0 0;
        background-image: url('../images/pre/couple.jpg');

      }
    .header_content{
        padding:3% 0;
    }
    #header img {
      width: 50%!important;
      margin-top: -24px!important;
    }
    #countdown li {
      /*font-size: 1.125rem;*/
      padding: 0 6px 15px;
    }
    #header .calender {
      padding: 8px 3%!important;
      top: -14px;
    }
    .live_stream h2 {
      padding-bottom: 10%;
      padding-top: 5%;
    }
    #countdown li span {
      font-size: 36px;
    }
    .getting_married_btn{
      position: relative;
      top: -8px;
    }
    .footer_bg{
        background-image: url('../images/pre/footer_mobile.png');
        height: 150px;
    }
    #countdown .calender, #header .calender{
      font-size: 16px!important;
    }
    .final_block h2{
      font-size: 34px;
    }
    .live_stream{
      padding-bottom: 10%;
    }
    #header h1 {
        font-size: 34px;
    }
    #countdown{
      width: 100%;
      display: block;
      margin: auto;
    }
    .rose_pic{
      width: 25%;
    }
  }

  @media only screen and (min-width: 600px) {
      #header {
      background-image: url('../images/pre/couple.jpg');
      padding: 48% 0 0;
      height: 76vw;
    }
    .footer_bg{
        background-image: url('../images/pre/footer.png');
    }
    
  }
  
  @media only screen and (min-width: 900px) {
    #header {
      /*height: 650px;*/
      height: 55vw;
      padding: 35% 0 0;
      background-image: url('../images/pre/couple.jpg');
    }
    #countdown{
      width: 600px;
      display: block;
      margin: auto;
    }
    .footer_bg{
        background-image: url('../images/pre/footer.png');
    }

  }
